// general elements
html, body, div, span, applet, object, iframe,
// heading elements
h1, h2, h3, h4, h5, h6,
// text elements
p, blockquote, pre,
// inline elements
a, abbr, address, big, br, cite, code, del, dfn, em, hr, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
// styling elements
b, u, i,
// lists
dl, dt, dd, ol, ul, li,
// forms and tables
button, caption, input, fieldset, form, label, legend, table, textarea, tbody, tfoot, thead, tr, th, td,
// semantic elements
article, aside, audio, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, mark, menu, nav, option, output, ruby, section, select, summary, time, video {
  border:          none;
  border-collapse: collapse;
  display:         flex;
  flex-direction:  column;
  font:            inherit;
  line-height:     inherit;
  margin:          0;
  outline:         none;
  padding:         0;
  text-decoration: none;
  vertical-align:  baseline;
}

// set inline elements to display: inline
a, abbr, acronym, b, bdo, big, br, cite, code, del, dfn, em, h1, h2, h3, h4, h5, h6, hr, i, img, input, ins, kbd, map, mark, object, p, q, samp, select, s, small, span, strike, strong, sub, sup, textarea, tt, var {
  display: inline;
}

// remove link styling
a, a:link, a:visited, a:hover, a:active {
  background: transparent;
  color: inherit;
  text-decoration: none;
}

// set defaults for body
body {
  background-color: white;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  min-height: 100vh;
}

// remove styling from quotes
blockquote, q {
  quotes: none;
  &:before, &:after {
    content: '';
    content: none;
  }
}

// remove styling from lists
ol, ul {
  list-style: none;
}

// set default table styling
table {
  display: table;
}

tbody {
  display: table-row-group;
}

td, th {
  display: table-cell;
}

thead {
  display: table-header-group;
}

tr {
  display: table-row;
}
