/* reset.less */
/* The CSS reset, from the flexbox-reset package: https://www.npmjs.com/package/flexbox-reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
big,
br,
cite,
code,
del,
dfn,
em,
hr,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
button,
caption,
input,
fieldset,
form,
label,
legend,
output,
table,
textarea,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
audio,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
mark,
menu,
nav,
option,
output,
ruby,
section,
select,
summary,
time,
video {
  border: 0;
  border-collapse: collapse;
  display: flex;
  flex-direction: column;
  font: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;
}
a,
abbr,
acronym,
b,
bdo,
big,
br,
cite,
code,
del,
dfn,
em,
i,
ins,
kbd,
mark,
q,
samp,
s,
small,
span,
strike,
strong,
sub,
sup,
time,
tt,
var {
  display: inline;
}
blockquote,
button,
caption,
dd,
dt,
figcaption,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
option,
output,
p,
pre,
select,
textarea {
  display: block;
}
[hidden] {
  display: none;
}
a,
a:link,
a:visited,
a:hover,
a:active {
  background-color: transparent;
  background-image: none;
  color: inherit;
  text-decoration: none;
}
body {
  color: black;
  font-size: 100%;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  min-height: 100vh;
}
blockquote,
q {
  quotes: none;
}
blockquote::before,
q::before,
blockquote::after,
q::after {
  content: '';
  content: none;
}
input[type=date],
input[type=datetime-local],
input[type=file],
input[type=month],
input[type=time],
input[type=week],
select {
  flex-direction: row;
}
ol,
ul {
  list-style: none;
}
table {
  border-spacing: 0;
  display: table;
}
tbody {
  display: table-row-group;
}
td,
th {
  display: table-cell;
}
thead {
  display: table-header-group;
}
tr {
  display: table-row;
}
